* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px */
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positioned in relation to body. */
  overflow-x: hidden;
}

/* General components */
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 9.6rem;
}

.grid:last-child {
  margin-bottom: 0;
}

.grid__2__cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid__3__cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid__4__cols {
  grid-template-columns: repeat(4, 1fr);
  gap: 4.5rem;
}

.grid__5__cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid__v__center {
  align-items: center;
}

.heading__primary,
.heading__secondary,
.heading__tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading__primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading__secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading__tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #e67e22;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put trainstion on original "state" */
  transition: all 0.3s;
}

.btn__full:link,
.btn__full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn__full:hover,
.btn__full:active {
  background-color: #cf711f;
}

.btn__outline:link,
.btn__outline:visited {
  background-color: #fff;
  color: #555;
}
.btn__outline:hover,
.btn__outline:active {
  background-color: #fdf2e9;

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn__form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn__form:hover {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list__item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list__icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/* Helper/Settings classes */
.margin__right__sm {
  margin-right: 1.6rem;
}

.margin__bottom__md {
  margin-bottom: 4.8rem;
}

.center__text {
  text-align: center;
}

strong {
  font-weight: 500;
}
